/* SignupPage.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d3d3d3; /* Light grey background */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: #ffffff;
  padding: 40px;
  border: 2px solid #00008b; /* Dark blue border */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  color: #8b0000; /* Dark red text */
  margin-bottom: 20px;
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 5px;
  color: #00008b; /* Dark blue labels */
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #00008b; /* Dark blue borders */
  border-radius: 5px;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #8b0000; /* Dark red button */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background-color: #a40000; /* Slightly lighter red on hover */
}

/* live-page.css */

.live-page {
  background-color: #020280; /* Dark blue background */
  color: #ffffff; /* White text for high contrast */
  font-size: 1.5em; /* Large font size */
  padding: 20px;
}

.song-title {
  font-size: 2em;
  color: #af0000; /* Dark red */
  text-align: center;
}

.song-author {
  font-size: 1.5em;
  color: #af0000; /* Dark red */
  text-align: center;
}

.song-content {
  margin-top: 30px;
}
.word-chord-pair {
  display: flex;
  flex-direction: column; /* Stack chord above word */
  align-items: center;
  margin-right: 10px;
}
.song-line {
  display: flex;
  margin-bottom: 10px;
}

.lyrics {
  font-size: 1.5em; /* Larger size for lyrics */
  color: #ffffff; /* White text */
}
.chord {
  font-size: 1.2em; /* Slightly smaller size for chords */
  color: #ffd700; /* Gold color for chords */
  height: 1.2em;
}

.auto-scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8b0000; /* Dark red */
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
}

/* live-page.css */

.quit-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #8b0000; /* Dark red */
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
}
